@media screen and (max-width: 700px) {
  .row, .navbar {   
   flex-direction: column;
  }
 }
 
@media screen and (min-width: 200px) and (max-width: 640px) {
  .tel{
    display: none;
  }
.liens{
	display : none;
}
.logo{
	width:85%;
	height:85%;
}
  
}
.titre
{
	font-size: 170%;
	font-family: DejaVu Sans Mono, monospace;
	font-style: normal;
	font-weight: bold;
	font-stretch: expanded;
	text-align: center;
	color: #cc0000;

}


body {
	color:black;
	background: url(wallpaper.png);
	background-repeat : repeat;
	background-position : center center;
	background-size : cover;
	text-align: center;
	margin-right: 0px;
}

.titre_img
{
	font-size: 150%;
	font-family: DejaVu Sans Mono, monospace;
	font-style: normal;
	font-weight: bold;
	font-stretch: expanded;
	text-align: center;
	color: #cc0000;
	display : flex;
	flex-direction : row;
	justify-content : space-between;

}

#titre
{
	width : 100%;
	display : flex;
	flex-direction : row;
	justify-content : center;
	padding-right : 100px;
}

#test
{
	display : flex;
	flex-direction : row;
	justify-content : center;
	padding-left : 70%;
	margin-bottom : 1.5%;
	
}


.Sonde{
    border: 5px outset rgb(0, 153, 51);
    background-color: rgb(204, 204, 255);
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 1%;
    padding-left: 0%;
    
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right:10%;
    margin-left:10%;
	text-align: center;
}
.NomSonde{
    padding-left: 60%;
}

.tableau{
	width:auto;
	font-size:140%;
}
.centre{
	margin: 0 auto;
}
.entete{
	padding-bottom: 3%
}

.grille {
    display: grid;
    grid-template-columns: 31.5% 31.5% 31.5%;
    grid-template-rows: 15rem 15rem ;
    grid-gap: 2%;
	text-align: center;
} 
h3{
	text-align:center;
	font-size: 150%;
}

.styled {
    border: 3 outset;
    line-height: 3;
    padding: 0;
    margin-bottom : 0;
    font-size: 1.5rem;
    text-align: center;
    color: #000066;
    text-shadow: 1px 1px 1px #000;
    border-radius: 7px;
    background-color: #80ff80;
    background-image: linear-gradient(to top right,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 3px 3px 4px rgba(255, 255, 255, .6),
                inset -3px -3px 4px rgba(0, 0, 0, .6);
}


.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.a {
  
  display: block;
  margin : auto;

} 
.centrer{
	text-align : center;
}
.légende{
	font-family: "Times New Roman", Times, serif;
	text-shadow:3px 6px 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	box-shadow : 2px 2px grey;
}
footer {
    display: flex;
	flex-direction;
    justify-content: center;
	width: 100%;
	padding-top: 1%
}

#TextBot
{
	background-color: #cc0000;
	color: #fff;
	width: 80%;
	border-radius: 8px;
	box-shadow : 2px 2px grey;
}

.cut{
	width : 95%;
}

#spec
{
	display: flex;
	flex-direction;
	justify-content: center;
	padding-top : 2%;
}

.bouton input[type="button"] {
    color:white;
    font:DejaVu Sans Mono, monospace;
    font-size:75%;
	padding : 14px;
    margin-right: 35%;
	margin-left: 35%;
	margin-bottom: 1%;
    background-color:#cc0000;
    border:3px outset #ad1f18;
    border-radius:10px;
    border-bottom:3px solid black;
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    display:block;
    width:30%;
	text-align:center;

}
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/logo Title */
.header {
  display: flex;
  padding: 60px;
  text-align: center;
  flex-direction : row;
  justify-content:center;
  background: #1abc9c;
  color: white;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

/* Change color on hover */
.navbar a:hover {
  background-color: yellow;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color:#1abc9c;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-image: linear-gradient(to top, #009933, #02a23c, #03ac46, #04b54f, #03bf59, #13c85e, #1fd062, #28d967, #3ae367, #49ec67, #58f667, #66ff66);	
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background:#333;
}

/* Permet de faire les boutons de lien avec les sondes */
.btn-group .button {
  background-color: #4CAF50; /* Green */
  border: 1px solid green;
  color: black;
  padding: 45px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  display: block;
}

.btn-group .button:not(:last-child) {
  border-bottom: none; 
  /* Prevent double borders */
}

.btn-group .button:hover {
  background-color: #99ff99;
}
/*Permet de faire clignoter les caractères choisis*/
.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}