body {
color:black;
background: white url(wallpaper.png);
background-repeat : no-repeat;
background-position : center center;
background-size : cover;
width : 100%;


}

tr
{
    border: 1px solid black;
}

.Sonde{
    border: 3px solid blue;
    background-color: #3B3BC4;
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 1%;
    padding-left: 0%;
    
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right:10%;
    margin-left:10%;
	text-align: center;

}
.NomSonde{
    padding-left: 60%;
}
.noborder {
border:none;
}
.tableau{
	width:auto;
	font-size:140%;
}
.centre{
	margin: 0 auto;
}
.entete{
	padding-bottom: 3%
}
.titre{
	font-size: 130%;
}









































	</body>