body {
	color:black;
	background: url(wallpaper.png);
	background-repeat : no-repeat;
	background-position : center center;
	background-size : cover;
	text-align: center;
	margin-right: 0px;
}

.titre
{
	font-size: 150%;
	font-family: DejaVu Sans Mono, monospace;
	font-style: normal;
	font-weight: bold;
	font-stretch: expanded;
	text-align: center;
	color: #cc0000;

}


.Sonde{
    border: 5px outset rgb(0, 153, 51);
    background-color: rgb(204, 204, 255);
    padding-top: 0%;
    padding-right: 0%;
    padding-bottom: 1%;
    padding-left: 0%;
    
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right:10%;
    margin-left:10%;
	text-align: center;
	

}
.NomSonde{
    padding-left: 60%;
}

.tableau{
	width:auto;
	font-size:140%;
}
.centre{
	margin: 0 auto;
}
.entete{
	padding-bottom: 3%
}

.grille {
    display: grid;
    grid-template-columns: 31.5% 31.5% 31.5%;
    grid-template-rows: 15rem 15rem ;
    grid-gap: 2%;
	text-align: center;
} 
h3{
	text-align:center;
	font-size: 150%;
}

.styled {
    border: 3 outset;
    line-height: 3;
    padding: 0;
	margin-bottom : 0;
    font-size: 1.5rem;
    text-align: center;
    color: #000066;
    text-shadow: 1px 1px 1px #000;
    border-radius: 7px;
    background-color: #80ff80;
    background-image: linear-gradient(to top right,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 3px 3px 4px rgba(255, 255, 255, .6),
                inset -3px -3px 4px rgba(0, 0, 0, .6);
}


.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.a {
  
  display: block;
  margin : auto;

} 
.centrer{
	text-align : center;
}
.légende{
	font-family: "Times New Roman", Times, serif;
	text-shadow:3px 6px 6px rgba(0,0,0,0.3);
	border-radius: 8px;
	box-shadow : 2px 2px grey;
}
footer {
    display: flex;
	flex-direction;
    justify-content: center;
	width: 100%;
	padding-top: 1%

}

#TextBot
{
	background-color: #cc0000;
	color: #fff;
	width: 80%;
	border-radius: 8px;
	box-shadow : 2px 2px grey;
}

.styled2{
	
}
.cut{
	width : 95%;
}

#spec
{
	display: flex;
	flex-direction;
	justify-content: center;
	padding-top : 2%;
}


























	</body>